---
title: API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - shell

toc_footers:
  - <a href='https://github.com/slatedocs/slate'>Documentation Powered by Slate</a>

includes:
  - authentication/index.md.erb
  - employees/index.md.erb
  - errors

search: true

code_clipboard: true
---

# Introduction

This API is a service that provides access to data relevant to the tuition repayment and other financial benefits provided by Tuition.io.  
The Tuition.io conforms to the JSONAPI 1.0 specification. Please refer to the specification for [additional details](https://www.jsonapi.org).